body{
    background-color: rgb(40, 40, 40);
    color: white;margin: 0;
    font-family: "Berlin Sans FB Demi", Arial, Helvetica, sans-serif;
    /*text-align: justify;*/
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.cikk h2{
    text-align: center;    
}
/* A menü formázása + linkek*/
#menu{
    width: 100%;
    background-color: rgb(40, 40, 40);
    margin: 0;
    
}
#menu ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style-type: none;
    margin: 0;    
}
#menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menu a:visited{
    color: aqua;
}
#menu a:hover{
    color: red;
}
#menu a:active{
    color: grey;
}
/*menü vége*/

/*A dobozok formázása*/
#container{
    background-color: rgb(40, 40, 40);
    width: 80%;
    max-width: 880px;
    margin: 0 auto 0 auto;
}
/*Első rész formázása*/
.tartalom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.cikk{
    padding: 10px 15px 10px 15px;
    
}
#kozep{
    border: 2px solid red;
    border-style: none solid none solid;
}
.tartalom ul{
    list-style: url(kepek/felsor.png);
}
.cikk  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Második rész formázása*/
.tartalom2{
    background-color: black;
    text-align: justify;
}
.class{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}
#abra{
    width: 100%
}

/*Harmadik rész formázás*/
.tartalom3{
    text-align: center;
    background-color: black;
}
.cikk3{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;  
    text-align: center;
}   
.cikk3 ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.cikk3 a{
    text-decoration: none;
    color: white;
}
.cikk3 p{
    font-style: italic;
}
.elerhetoseg{
    
}
/* 3. block képei*/
.kollega{
    max-width: calc(50% -20%); 
    border-radius: 50%;   
    border: 2px solid red;
    max-width: calc(60% - 20%);
}

